<div class="main">
    <div class="newpwd-section">
        <img class="logo" src="assets/images/logo.png" alt="">
        <form class="form">
            <div class="title mt-3 mb-3">Enter your new password</div>
            <div class="input-group mt-3 mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" style="width: 130px;" id="">New password</span>
                </div>
                <input type="password" class="form-control" placeholder="Enter your new password" id="newPassword" [(ngModel)]="newPassword">
            </div>
            <div class="input-group mt-3 mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" style="width: 130px;" id="">Confirm</span>
                </div>
                <input type="password" class="form-control" placeholder="Confirm new password" id="confirmNewPassword" [(ngModel)]="confirmNewPassword">
            </div>
            <button (click)="onChangePassword(newPassword,confirmNewPassword)" class="action" >Change password</button>
        </form>
    </div>
</div>