<div class="main">

  <div class="changepwd-section">
    <img class="logo" src="assets/images/logo.png" alt="">
    <form class="form" [formGroup]="changepassword" (ngSubmit)="submitChangePassword()">
      <div class="title mt-3">Change password</div>
      <p class="message mt-3 mb-3">Change your password with new one.</p>
      <div class="form-group">
        <input type="{{ isPasswordVisible ? 'text' : 'password' }}" class="form-control mt-3 mb-3 placeholder-center" id="oldPassword" placeholder="Enter your old password"
          formControlName="oldPassword" required>

      </div>
      <small id="passwordHelpInline" class="text-muted">
        Must be 4-10 characters long.
      </small>
      <div class="input-group mt-3 mb-3 form-group">
        <div class="input-group-prepend">
          <span class="input-group-text" style="width: 130px;">New password</span>
        </div>
        <input type="password" class="form-control" placeholder="Enter your new password" id="newPassword"
          formControlName="newPassword" aria-describedby="passwordHelpInline" required>
      </div>

      <div class="input-group mt-3 mb-3 form-group">
        <div class="input-group-prepend">
          <span class="input-group-text" style="width: 130px;">Confirm</span>
        </div>
        <input type="password" class="form-control" placeholder="Confirm new password" id="confirmNewPassword"
          formControlName="confirmNewPassword" required>
      </div>
      <button type="submit" class="btn btn-primary mt-3">Change password</button>
    </form>
  </div>
</div>

