<div class="main">

    <div class="forgotpwd-section">
        <img class="logo" src="static/img/login/logo.png" alt="">
        <form class="form" [formGroup]="verifyUserID">
            <div class="title mt-3">Forgot password</div>
            <p class="message mt-3 mb-3">Enter your user ID with OTP verification you can change your password.</p>
            <input type="text" class="form-control" id="userID" formControlName="userID" required
                placeholder="Enter your user ID">
            <button type="submit" class="action" (click)="onVerifyUserID()">verify me</button>
        </form>
    </div>
</div>