log.dir=D:\\GP_CODE\\MFS Swap Codes\\mfs-communication-module-master\\logs

spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.properties.hibernate.use_sql_comments=true
spring.jpa.hibernate.ddl-auto=update

#hibernate.log.level.sql=debug
#hibernate.log.level.param=off
#hibernate.log.level.param.binder=debug
#hibernate.log.level.param.extractor=off
root.log.level=error

flexmfs.datasource.jdbcUrl=jdbc:mysql://localhost:3306/mflex_core?autoReconnect=true&useSSL=false
flexmfs.datasource.username=root
flexmfs.datasource.password=root
 
mfs.datasource.default.schema=mmoney_pp
mfs.datasource.jdbcUrl=jdbc:oracle:thin://10.10.y.y/db
mfs.datasource.username=
mfs.datasource.password=

mfs.report.datasource.default.schema=mmoney_pp
mfs.report.datasource.jdbcUrl=jdbc:oracle:thin://10.10.y.y/db
mfs.report.datasource.username=
mfs.report.datasource.password=

#bytes
request.log.payload.max.size=1000

#nesco config
nesco.request.timeout=10
nesco.use.proxy=true
nesco.webservice.url.base=http://api.sslwireless.com/api
nesco.auth.key=ewh8ZPVDJNPqhpJWqwvzseJpdTgsUeqc
nesco.stk.code=NESCO_TEST
nesco.utility.auth.key=NE15836529024134
nesco.utility.secret.key=HC4FR5cKF/NnjkU0

#PDBPP, WZPDBP, REBP
pdb_prepaid_webservice_url_base=http://prepaid-test.bpdb.gov.bd/
pdb_prepaid_dns_servers=192.168.6.82,192.168.6.83
reb_prepaid_webservice_url_base=http://???/
wzpdcl_prepaid_webservice_url_base=http://???/

pdbpp_like_webservice_path_payment=ams/prepay/testCode/customIbcs!thirdPartyRequest.do
pdbpp_like_webservice_path_ack=ams/prepay/testCode/customIbcs!acknowledgement.do
pdbpp_like_webservice_username=operatorGP
pdbpp_like_webservice_password=Ptadjl4koVVvLwP8EdsW4BGmTgJDw9gdUoiFAyDFWpk64m5yB+aijQ==
pdbpp_like_webservice_amount_validation=ams/prepay/testCode/customIbcs!verifyAmount.do
pdbpp_like_webservice_timeout=20
pdbpp_like_token_generation_timeout=30
pdbpp_like_use_proxy=true

#Sylhet PDBSP
pdbsp_enel_id=Y2019011100001
pdbsp_cust_id=A0000000000003
pdbsp_enc_key=55qSvqNf8KZo
pdbsp_user_id=admin
pdbsp_service_url=
pdbsp_api_timeout=10
pdbsp_use_proxy=true

#DPDC Prepaid config
dpdc_posid=96063
dpdc_user_name=D4GPKPM
dpdc_password=D4gpKPm
dpdc_timeout=5
dpdc_data_validation_url=http://dpdc-prepaid/
dpdc_recharge_url=https://10.10.22.115:444/router/http/192.168.6.44:8080/dpdcposapi/services/ThirdPartyVendingServerService/createRecharge
dpdc_transaction_status_url=https://10.10.22.115:444/router/http/192.168.6.44:8080/dpdcposapi/services/ThirdPartyVendingServerService/checkTransaction

#DESCO Kaifa Prepaid 
desco_prepaid_ip=test.tdmpsmartmeter.com
desco_prepaid_port=10000
desco_prepaid_top_up_breakdown_api=PrePay/TopupBreakup
desco_prepaid_top_up_api=PrePay/Topup
desco_prepaid_top_up_status_check_api=PrePay/TopupStatus
desco_prepaid_timeout=30
desco_prepaid_api_key=D4A239E083C95128
desco_prepaid_use_proxy=true

#DESCO Unified Prepaid
desco_unified_account_validation_url=http://desco_unified/account/validation
desco_unified_amount_validation_url=http://desco_unified/amount/validation
desco_payment_url=http://desco_unified/payment
desco_ack_url=http://desco_unified/ack
desco_tnx_status_url=http://desco_unified/status
desco_unified_timeout=15
desco_unified_use_proxy=false
desco_unified_user_name=
desco_unified_password=
desco_unified_api_key=

#BREB Postpaid
reb_postpaid_channelid=01372301-GrameenPhone
reb_postpaid_password=*rebPBS2019*$
reb_postpaid_authentication_url=http://staging.rebpbs.com/breb_cbdg_data_servx.asmx/CBDG_Authenticate
reb_postpaid_bill_query_url=http://staging.rebpbs.com/breb_cbdg_data_servx.asmx/CBDG_Bill_Query
reb_postpaid_save_bill_query_url=http://staging.rebpbs.com/breb_cbdg_data_servx.asmx/CBDG_Save_Bill_Payment
reb_postpaid_new_token_url=http://staging.rebpbs.com/breb_cbdg_data_servx.asmx/CBDG_Get_New_Access_Token
reb_postpaid_ack_bill_payment_url=http://staging.rebpbs.com/breb_cbdg_data_servx.asmx/CBDG_ACK_Bill_Payment
reb_postpaid_check_txn_status_url=http://staging.rebpbs.com/breb_cbdg_data_servx.asmx/CBDG_Check_Transaction_Status
reb_postpaid_use_proxy=true
reb_postpaid_dispute_scheduler.active=false
reb_postpaid_dispute_scheduler_trigger_interval=5m
reb_postpaid_dispute_scheduler_initial_delay=0m

mfs.api.path=http://10.177.25.14:7890/GPTxn/CelliciumSelector?LOGIN=Ussd_Bearer1&PASSWORD=MPtc1ToayCkCMZZeHUu0snA3aUaPbSFQ9UzIkNGbVRU=&REQUEST_GATEWAY_CODE=CELLUSSD&requestText=
mfs.payment.reversal.user.id=PT180109.1036.463381
mfs.request.timeout=10

http.proxy.host=10.10.20.107
http.proxy.port=3828

#sms config
sms_base_url=http://10.21.11.16:9091/digital5crm/messaging/v5.0/sendsmscrm
sms_accesskey=5f01f6c359e44e668084f6bfb7d345fb
sms_accesschannel=MTSMS
sms_servicekey=5afdaee79ae44b38bf1e95db0e9d129d
sms_serviceIdentifier=PPU00028200001
sms_language=ENG
sms_senderId=GPAY
sms_msgType=text
sms_validity=1
sms_deliveryReport=0

sms_user=
sms_password=

dispute_resolver_node_id=

whitelist.urls=0:0:0:0:0:0:0:1,127.0.0.1

nesco_prepaid_app_name=
nesco_prepaid_app_password=
nesco_prepaid_post_auth_code=
nesco_prepaid_proxy_required=
nesco_prepaid_login_url=
nesco_prepaid_pre_charge_url=
nesco_prepaid_remote_charge_url=
nesco_prepaid_history_url=

bill.pay.dispute.scheduler.active=false
bill_pay_dispute_scheduler_trigger_interval=10000
bill_pay_dispute_scheduler_initial_delay=20000

event_queue_manager_url=

bgsl_postpaid_get_bill_url=http://103.94.135.202:8085/bgdclBillingApp/api/v1/customerBill/nmCustCode/
bgsl_postpaid_proxy_required=true
bgsl_postpaid_authentication=Basic aWljdC1idWV0LWJnZGM6cGFzc0AwMjY=
bgsl_postpaid_request_timeout=10
bgsl_postpaid_due_bill_payment_url=http://103.94.135.202:8085/bgdclBillingApp/api/v1/customerBill/nmBillPay/GP/GPAY/
bgsl_postpaid_advanced_bill_payment_url=http://103.94.135.202:8085/bgdclBillingApp/api/v1/customerBill/advancePayment/
bgsl_postpaid_reconciliation_url=http://103.94.135.202:8085/bgdclBillingApp/api/v1/reconcile/custWise/

health-log.scheduler.interval=10m

## Pdb summary sync scheduler properties
pdb.summarydb.scheduler.active=true

pdb.sftp.host=
pdb.sftp.port=
pdb.sftp.user=
pdb.sftp.password=
pdb.sftp.pull.location=
pdb.sftp.push.location=

pdb.summarydb.customerdata.push.cron=
pdb.summarydb.billdata.pull.cron=
pdb.summarydb.customerdata.pull.cron=

pdb.summarydb.connection.url=
pdb.summarydb.username=
pdb.summarydb.password=

pdb.summarydb.error.file.dump.location=
pdb.summarydb.smsTo=

dpdcpostpaid.use.proxy=false
dpdcpostpaid.request.timeout=30
dpdcpostpaid.webservice.url.base=
dpdcpostpaid.user=
dpdcpostpaid.password=
dpdcpostpaid.bankcode=

nesco_prepaid_request_timeout=10
nesco_wasion_prepaid_request_timeout=40
nesco_wasion_prepaid_pre_charge_url=
nesco_wasion_prepaid_remote_charge_url=
nesco_wasion_prepaid_history_url=
nesco_wasion_prepaid_proxy_required=false
nesco_wasion_prepaid_app_name=
nesco_wasion_prepaid_app_password=
nesco_wasion_prepaid_login_url=
nesco_wasion_token_expiration_duration_in_millisecond=90
nesco_wasion_prepaid_consumerid_prefix=

#region TEST
test.subscriber.msisdn=01711138668
test.subscriber.pin=1290
test.retailer.msisdn=01720000533
test.retailer.pin=1357
test.subscriber.additional.msisdn=01711138669
test.subscriber.additional.pin=1290
log.to.root=only
#endregion

#DESCO Postpaid Properties

desco_postpaid_username=gpuser
desco_postpaid_password=12345678
desco_postpaid_proxy_required=true
desco_postpaid_token_expiration_duration_in_millisecond=1200000
desco_postpaid_request_timeout=30
desco_postpaid_bankcode=GP
desco_postpaid_scrollNo=1000000001
desco_postpaid_login_url=http://103.69.149.45:8080/billpayment/global/auth/signin
desco_postpaid_billlist_url=http://103.69.149.45:8080/billpayment/global/billvendor/paidunpaidbill
desco_postpaid_billinfo_url=http://103.69.149.45:8080/billpayment/global/billvendor/billInfo
desco_postpaid_billsavepayment_url=http://103.69.149.45:8080/billpayment/global/billvendor/paymentInfo
desco_postpaid_billPaymentStatus_url=http://103.69.149.45:8080/billpayment/global/billvendor/paymentStatus

#SSL Wireless ISP
sslwireless.isp.GR16395599375370.auth.key=GR16395599375370
sslwireless.isp.GR16395599375370.secret.key=c3IQTY2Yh3EJHzke

sslwireless.isp.AUTH-KEY=ovpdJuhHqyHvSJ8BsI5Gi.QWCQXsRCq.
sslwireless.isp.STK-CODE=GPAY
sslwireless.isp.bill.info.url=http://api.sslwireless.com/api/bill-payment
sslwireless.isp.bill.payment.url=http://api.sslwireless.com/api/bill-payment
sslwireless.isp.bill.status.url=http://api.sslwireless.com/api/bill-status
sslwireless.isp.use.proxy=true

